extends layout

block content
  if user != null
    h1 Hello, #{user.firstName}
    a(href="/profile") Profile
    br
    br
    a(href="/logoutWithDefaultRedirect") Logout With Deafult Redirect
    br
    a(href="/logoutWithExplicitRedirect") Logout With Explicit Redirect (brown.edu)
    br
    a(href="/logoutWithBeforeMiddleware") Logout With Before Middleware
    br
    a(href="/customLogout") Custom Logout
  else
    h1= title
    a(href="/login") Login
